/* primo */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;

}

/* secondo */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 5s;
}

.ex-2-square:active{
    width: 100%;
}

/* terxo */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

/* quarto */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition:3s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* quinto */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 2s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width:10px;
    height: 10px;
}

/* sesto */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition:2s;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

/* settimo */

.ex-7-img:hover{
    filter: hue-rotate(270deg) drop-shadow(20px 10px 7px);
}

/* ottavo */

.ex-8-img:hover{
    filter: opacity(40%) invert(60%);
    border-radius: 15px;
}

/* nove */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s;
}

.ex-9-img:hover{
    filter: grayscale(50%) sepia(30%);
    border-radius: 20%;
    transform: scale( 150%, 150%);
}

/* dieci */

.ex-10-icon {
    font-size: 60px;
    animation-name: caricamento;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes caricamento {
    0% {
        transform: rotate(0);

}
    100% {
    transform: rotate(360deg);
}

    }
/* undici */

.ex-11-icon {
    font-size: 60px;
    
}

.ex-11-icon:hover{
    animation-name: caricamento2;
    animation-duration: 3s;
}

@keyframes caricamento2 {
    0% {
        transform: rotate(0);

}
    50%{transform: rotate(270deg);

}
    100% {
    transform: rotate(0deg);
}

    }


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* dodici */
.ex-12-button:hover .ex-12-top-white{
    animation-name: animation1;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: animation2;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes animation1{
    0%{
        top: -10px;
        left: 10%;
        
    }
    100%{
        top:-10px; 
        left:calc(90% - 60px);
    }
}

@keyframes animation2{
    0{
        bottom: -10px;
        right: 20%; 
    }
    100%{
        bottom: -10px; 
        right:calc(80% - 60px);
    }
}

/* tredici */

.ex-13-button:hover .ex-13-top-white{
    animation-name: movement1;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation-name: movement2;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes movement1{
    0%{
        top: -10px;
        left: 10%;
        
    }
    25%{
        top:-10px; 
        left: 90%;
        
    }
    75%{
        top:calc(100% - 10px);
        left: 90%;
    }
    100%{
        top:calc(100% - 10px);
        left:calc(90% - 30px);
    }
}

@keyframes movement2{
    0%{
        bottom: -10px;
        right: 20%;
        
    }
    25%{
        bottom:-10px; 
        right: 90%;
        
    }
    75%{
        bottom:calc(100% - 10px);
        right: 90%;
    }
    100%{
        bottom:calc(100% - 10px);
        right:calc(90% - 30px);
    }
}